[Desktop Entry]
Version=1.0
Name=Department of Justice
Comment=Access the Digital Court and Sovereign Legal Ledgers
Exec=xdg-open https://lavocat.ca
Icon=accessories-dictionary
Terminal=false
Type=Application
Categories=Network;WebBrowser;
