[Desktop Entry]
Version=1.0
Name=The Meta-Dome
Comment=Enter the God-Tier Virtual Reality Environment
Exec=xdg-open https://meta-dome.com
Icon=virtual-reality-app
Terminal=false
Type=Application
Categories=Network;WebBrowser;
