[Desktop Entry]
Version=1.0
Name=Sovereign Q
Comment=Access the Sovereign Q Communications Network
Exec=xdg-open https://sovereign-q.com
Icon=system-lock-screen
Terminal=false
Type=Application
Categories=Network;WebBrowser;
