<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutOutputDuringTests="false"
         failOnRisky="false"
         failOnWarning="false">
    <testsuites>
        <testsuite name="API">
            <directory>tests/Api</directory>
        </testsuite>
        <testsuite name="Security">
            <directory>tests/Security</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="GOSITEME_API" value="true"/>
        <const name="GOSITEME_DB_CONFIGURED" value="true"/>
    </php>
</phpunit>
