[Desktop Entry]
Name=Alfred Pulse Tray
Comment=Pulse Notification Daemon
Exec=python3 /opt/alfred-pulse/pulse-tray.py
Icon=/opt/alfred-pulse/pulse-icon.svg
Terminal=false
Type=Application
Categories=Network;Chat;Social;
X-GNOME-Autostart-enabled=true
