[Desktop Entry]
Type=Application
Exec=xdg-open /usr/share/alfred/welcome/kingdom-welcome.html
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Kingdom Welcome
Name=Kingdom Welcome
Comment=Welcome to the Sovereign Kingdom Architecture