[Desktop Entry]
StartupNotify=true
Terminal=false
Name=Alfred Capabilities
Comment=Install AI Models natively into your OS
Exec=python3 /opt/alfred-capabilities/server.py
Icon=applications-science
Terminal=false
Type=Application
Categories=System;Settings;ArtificialIntelligence;
