[Desktop Entry]
Name=Alfred Pulse
Comment=Your Kingdom Social Network
Exec=python3 /opt/alfred-pulse/pulse-client.py
Icon=/opt/alfred-pulse/pulse-icon.svg
Type=Application
Categories=Network;Chat;Social;
StartupNotify=true
Keywords=social;pulse;kingdom;feed;chat;
